<div class="mb-6">
  <label
    for="Usuario"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Usuario</label
  >
  <div class="flex flex-row gap-2">
    <input
      id="Usuario"
      name="usuario"
      placeholder="Ingresa un Nombre"
      type="text"
      (change)="Search($event)"
      class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg block w-96 p-2.5 h-12"
    />
    <select
      name="Select-Usuario"
      id="Select-Usuario"
      class="text-xl bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-96 p-2.5 h-12"
      (change)="Searchpedidos($event)"
    >
      <option value="." aria-required="true">option ...</option>
      @for (usuario of usuarios; track $index) {
      <option [value]="usuario.username">{{ usuario.name }}</option>
      }
    </select>
  </div>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-white uppercase bg-amarillooscuro">
      <tr>
        <th scope="col" class="px-6 py-3">ID</th>
        <th scope="col" class="px-6 py-3">FECHA</th>
        <th scope="col" class="px-6 py-3">USERNAME</th>
        <th scope="col" class="px-6 py-3">ESTADO</th>
        <th scope="col" class="px-6 py-3">Accion</th>
      </tr>
    </thead>
    <tbody>
      @for (row of pedidos; track $index) {
      <tr
        class="bg-gray-800 border-b hover:bg-gray-700 text-lg text-white transition-colors"
      >
        <td class="px-6 py-4">
          {{ row.id }}
        </td>
        <td class="px-6 py-4">
          {{ row.fecha[0] }}-{{ row.fecha[1] }}-{{ row.fecha[2] }}
        </td>
        <td class="px-6 py-4">
          {{ row.username }}
        </td>
        <td class="px-6 py-4">
          {{ row.estado }}
        </td>
        <td
          class="px-6 py-4 flex flex-row flex-nowrap gap-2 items-center justify-center"
        >
          <div class="h-full">
            <svg
              class="w-6 h-6 hover:scale-110 hover:cursor-pointer"
              fill="#1a56db"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24"
              height="24"
              viewBox="0 0 442.04 442.04"
              xml:space="preserve"
              (click)="ViewPedido(row.id)"
            >
              <g>
                <g>
                  <path
                    d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
			c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
			c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
			c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
			c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
			c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
			c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z"
                  />
                </g>
                <g>
                  <path
                    d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
			c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
			c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
			s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z"
                  />
                </g>
                <g>
                  <path
                    d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"
                  />
                </g>
              </g>
            </svg>
          </div>
        </td>
      </tr>
      }@empty {
      <tr class="bg-gray-800 border-b hover:bg-gray-700">
        <td class="px-6 py-4">No hay datos disponibles.</td>
      </tr>
      }
    </tbody>
  </table>
</div>

<app-modal
  [isOpen]="flagModal"
  (close)="toogleModal()"
  [title]="'Datos de Pedido'"
>
  <h3 class="text-white text-xl">
    Usuario Comprador : {{ ViewPedidoData.username }}
  </h3>

  <div class="flex flex-row gap-2">
    @for (producto of ViewPedidoData.productos; track $index) {
    <div class="w-40 rounded-md bg-gray-800/50 p-4">
      <div class="flex flex-row items-center justify-between mb-4">
        <p class="text-lg text-white">{{ producto.nombre }}</p>
        <p class="text-lg text-white">{{ producto.cantidad }}</p>
      </div>
      <div class="h-32 bg-white rounded-md">
        <img
          class="h-full object-cover m-auto"
          [src]="producto.imagen_principal"
          alt="imagen producto"
        />
      </div>
    </div>

    }
  </div>
  <select
    class="bg-gray-800 text-white rounded-md cursor-pointer"
    [(ngModel)]="ViewPedidoData.estado"
  >
    <option value="NUEVO">NUEVO</option>

    <option value="EN PROCESO">EN PROCESO</option>

    <option value="ENVIADO">ENVIADO</option>
  </select>
  <button
    class="w-full h-14 bg-amarillooscuro hover:bg-amarilli cursor-pointer py-4 rounded-md text-gray-900 font-bold text-xl hover:text-2xl transition-all"
    type="button"
    (click)="CambiarEstado(ViewPedidoData.id, $event)"
  >
    GUARDAR ESTADO
  </button>
</app-modal>
