<h1 class="text-5xl font-extrabold dark:text-white">
  {{ producto.nombre }}
</h1>

<form>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    <div class="mb-6">
      <label
        for="editNombre"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nombre Producto</label
      >
      <input
        type="text"
        id="editNombre"
        name="editNombre"
        [(ngModel)]="producto.nombre"
        placeholder="Ingrese nombre del producto..."
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>

    <div class="mb-6">
      <label
        for="editPn"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >PN Producto</label
      >
      <input
        type="text"
        id="editPn"
        name="editPn"
        [(ngModel)]="producto.pn"
        placeholder="Ingrese nombre del PN del producto..."
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>

    <div class="mb-6">
      <label
        for="editStock"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Stock</label
      >
      <input
        type="number"
        id="editStock"
        name="editStock"
        [(ngModel)]="producto.stock"
        placeholder="Ingrese stock del producto..."
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        readonly
      />
    </div>

    <div class="mb-6">
      <label
        for="editPrecio"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Precio</label
      >
      <input
        type="number"
        id="editPrecio"
        name="editPrecio"
        [(ngModel)]="producto.precio"
        placeholder="Ingrese el precio del producto..."
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
    </div>
    <!--SELECCIONAMIENTO DE CATEGORIA MARCA-->
    <div class="mb-6">
      <label
        for="marcaSelect"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Seleccionar Marca</label
      >
      <select
        id="marcaSelect"
        name="marcaSelect"
        [(ngModel)]="producto.id_marca"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" disabled selected>Elegir...</option>
        @for (marca of marcas; track $index) {
        <option [value]="marca.id">{{ marca.nombre }}</option>
        }
      </select>
    </div>

    <div class="mb-6">
      <label
        for="categoriaSelect"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Seleccionar Categoria</label
      >
      <select
        id="categoriaSelect"
        name="categoriaSelect"
        [(ngModel)]="producto.id_categoria"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="" disabled selected>Elegir...</option>
        @for (categoria of categorias; track $index) {
        <option [value]="categoria.id">{{ categoria.nombre }}</option>
        }
      </select>
    </div>
  </div>

  <div class="mb-6">
    <label
      for="editDescripcion"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Descripción</label
    >

    <textarea
      id="editDescripcion"
      name="editDescripcion"
      [(ngModel)]="producto.descripcion"
      rows="2"
      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    ></textarea>
  </div>

  <!-- imagenes -->
  <div class="mb-6">
    <label
      for="archivo"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Seleccionar Archivo Principal</label
    >
    <input
      type="file"
      id="archivo"
      name="archivo"
      (change)="onFileChangePrincipal($event)"
      multiple
      required
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    />
  </div>
  <div class="mb-6">
    <label
      for="archivo1"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Seleccionar Archivo</label
    >
    <input
      type="file"
      id="archivo1"
      name="archivo1"
      (change)="onFileChange($event)"
      multiple
      required
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    />
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    @if (producto.imagen_principal !== "") {
    <div class="relative">
      <div
        class="w-full items-center py-2 px-2 rounded-t-lg text-gray-900 bg-white border-3 border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium text-sm dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        <img
          class="w-auto max-w-full rounded-lg"
          [src]="producto.imagen_principal"
          alt=""
        />
      </div>
      <button
        type="button"
        class="w-full items-center rounded-b-lg bg-red-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        (click)="producto.imagen_principal = ''"
      >
        Eliminar
      </button>
    </div>
    } @for (imagen of producto.imageurl; track $index) {
    <div class="relative">
      <div
        class="w-full items-center py-2 px-2 rounded-t-lg text-gray-900 bg-white border-3 border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium text-sm dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        <img class="w-auto max-w-full rounded-lg" [src]="imagen" alt="" />
      </div>
      <button
        type="button"
        class="w-full items-center rounded-b-lg bg-red-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
        (click)="eliminarImagen($index)"
      >
        Eliminar
      </button>
    </div>
    }
  </div>

  <br />

  <button
    type="button"
    class="w-full items-center rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    (click)="guardarCambios()"
  >
    Guardar Cambios
  </button>
</form>
